<%- include('includes/head.ejs')%>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('includes/navigation.ejs') %>

    <main>
        <% if(products.length > 0 ){ %>
        <div class="grid">
            <% for(let product of products){%>
            <article class="card product-item">
                <header class="card__header">
                    <h1 class="product__title"><%= product.title %></h1>
                </header>
                <div class="card__image">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBmBX_024PTFUgYOdPxWBGPyVlkaMfj3TPYQ&usqp=CAU" alt="A wire">
                </div>
                <div class="card__content">
                    <h2 class="product__price">₹200.00</h2>
                    <p class="product__description">A very reliable and fire resistent wire</p>
                </div>
                <div class="card__actions">
                    <button class="btn">Add to Cart</button>
                </div>
            </article>
            <%}%>
         </div>
        <% } else{ %>
            <h1>No Products found</h1>
        <% } %>
    </main>
<%- include('includes/end.ejs') %>